body { 
    margin: 4rem; 
} 


label { 
    display: block; 
    margin-top: 5px; 
} 

input { 
    width: 300px; 
    padding: 8px; 
    margin-top: 5px; 
    border: 1px solid #ccc; 
    border-radius: 9px; 
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #01010c;
}


.contenedor {
    width: 90%;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
}

/* ESTILOS FORMULARIO */
.contenedor .div-formulario {
    width: 30%;
    height: 400px;
    margin: 15px 15px;
    background-color: rgb(63, 63, 68);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.contenedor .div-formulario h2 {
    margin-top: 10px;
    font-size: 50px;
    color: rgb(136, 42, 243);
}

.contenedor .div-formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor .div-formulario form input,
.contenedor .div-formulario form button {
    width: 60%;
    padding: 10px 10px;
    margin: 10px ;
}

/* ESTILOS LISTADO */
.contenedor .div-listado {
    width: 55%;
    height: calc(100% - 50px);
    margin: 15px 15px;
    background-color: rgb(36, 36, 63);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.contenedor .div-listado h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
}

.contenedor .div-listado .div-estudiante {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 0 30px;
}

.contenedor .div-listado .div-estudiante p {
    margin: 10px 0;
    font-size: 15px;
    color: #ddd;
}

hr {
    width: 100%;
    height: 1px;
}

.btn {
    padding: 5px 10px;
    border: none;
    margin: 0 5px;
    color: white;
    border-radius: 50px;
}

.btn-editar {
    background-image: linear-gradient(rgb(8, 70, 204), rgb(0, 0, 255));
}

.btn-eliminar {
    background-image: linear-gradient(rgb(0, 41, 128), rgb(0, 0, 255));
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        align-items: center;
    }

    .contenedor .div-formulario,
    .contenedor .div-listado {
        width: 90%;
        margin: 15px 0;
    }
}
/*CHECK*/
#btnAgregar{
    background: linear-gradient(to bottom, #4a8cff, #2e5ee3);
    font-size: 20PX;
    color: aliceblue;
}

.form-check-label,
.valid-feedback,
.invalid-feedback{
    color: rgb(221, 217, 217);
}